# .env-Dateien
.env
.env.*

# IDE-Einstellungen
.idea/
.vscode/
data/

# Python
__pycache__/
*.pyc

# Logs, Datenbanken, temporäre Dateien
*.log
*.sqlite3
*.db

# System
.DS_Store
Thumbs.db

# Sonstiges
*.bak
*.tmp
DevTools/backend/utils/config.py
command.yaml
wiki_stats.json
checker.py

# Build-Ordner: alles ignorieren...
_build/*
.pickle
.doctree
.buildinfo
.nojekyll
.inv
docs/_build/html/_sources/
furo.js.LICENSE.txt
fontawesome.js.LICENSE.txt
.map
docs/_build/doctrees/


# ...außer HTML & CSS im html-Ordner
!_build/html/
!_build/html/**/*.html
!_build/html/**/*.css
!_build/html/_static/
!_build/html/_static/**/*.css
!_build/html/_static/**/*.js