# .env-Dateien
.env
.env.*

# IDE-Einstellungen
.idea/
.vscode/
data/
# Python
__pycache__/
*.pyc

# Logs, Datenbanken, temporäre Dateien
*.log
*.sqlite3
*.db

# System
.DS_Store
Thumbs.db

# Datenbank Dateien (unnötig auf Repo)
*.db

# Sonstiges
*.bak
*.tmp
FastCoding/backend/utils/config.py
command.yaml
wiki_stats.json